{% extends "base.html" %}

{% block content %}
<h2>🔐 使用者登入</h2>
    <form method="POST">
        <div>
            <label>帳號 (Username):</label>
            <input type="text" name="username" required>
        </div>
        <br>
        <div>
            <label>密碼 (Password):</label>
            <input type="password" name="password" required>
        </div>
        <br>
        <button type="submit">登入</button>
    </form>
    <p>還沒有帳號嗎？ <a href="{{ url_for('register') }}">去註冊一個</a></p>
    <p><a href="/">回首頁</a></p>
{% endblock %}